/* style sheet for landing page*/


body{
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
}

.landingzone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    gap: 24px;
}

.landingzonetxt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:300px;
}

button{
    padding: 8px 16px;
    border-radius: 8px;
    width:86px;
    background-color: lightblue;
    color: white;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.specialties{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1 1 0;
    background-color: #1F2937;
    color:white;
    font-weight:bold;
}

li{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    font-weight: 100;
    gap: 12px;
    padding: 0px;
}

.cards {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
}

.cardtxtund{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 2px;
    padding:8px;
    border: 5px solid blue;
}

.testimonial{
    display:flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 78px;
}

.calltoact{
    display:flex;
    justify-content: center;
}

.signupcard{
    display:flex;
    justify-content: center;
    padding:36px;
    background-color: #3882F6;
}

.footer{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
}