/* style sheet for landing page*/


body{
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
}

.landingzone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    gap: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.landingzonetxt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:700px;
}

.rightland{
    display:flex;
    padding-right:300px;
}

.leftland{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    padding-left:300px;
}

button{
    padding: 8px 16px;
    border-radius: 8px;
    width:86px;
    background-color: lightblue;
    color: white;
}

.button{
    padding: 8px 16px;
    border-radius: 8px;
    width:86px;
    background-color: lightblue;
    color: white;
    display:flex;
    justify-content: center;
    align-items:center;
}



.content{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.specialties{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:25px;
    align-items: center;
    padding:40px;
}

.header{
    display:flex;
    flex-direction: row;
    flex: 1 1 0;
    background-color: #1F2937;
    color:white;
    font-weight:bold;
    justify-content: space-between;
}

li{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    font-weight: 100;
    gap: 12px;
    padding: 0px;
}

.cards {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
}

.cardtxtund{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

img {
    margin: 2px;
    padding:8px;
    border: 3px solid blue;
    border-radius: 8px;
}

.testimonial{
    display:flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 78px;
}

.calltoact{
    display:flex;
    flex:direction: row;
    justify-content: center;
    padding: 60px;
}

.signupcard {
    display:flex;
    justify-content: space-between;
    padding:36px;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 500px;
    align-items:center;
}

.footer{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.rightheader{
    display:flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content:flex-end;
    padding-right: 300px;
}

.leftheader{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    padding-left: 300px;
}

.signuptext{
    display:flex;
    flex-direction:column;
}